<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Survey Launch</title>
</head>
<body>
	<table style="max-width:100%; min-width:100%" width="100%" height="100%" class="">
    <tbody>
        <tr>
            <td valign="top" class="" style="padding:5px 80px 20px; font-family:Arial, Helvetica, sans-serif; font-size:18px; text-align:center; background-color: #ccf2ff">
                <table width="100%" style="min-width:100%;">
                    <tbody>
                        <tr>
                            <td style="padding-top:10px; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="" class="">


                                <br>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="border-collapse:separate !important; border-radius:5px;background-color:#FFF;">
                                    <tbody>
                                        <tr>
                                            <td valign="middle" class="content" style="font-family:Arial; font-size:16px; padding:15px;">
                                                <span>
                              Dear Admin,
                              
                             <p>Survey has been successfully initiated. We will notify you via email once it is successfully launched!</p>
                    </span>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>




            </td>
        </tr>
    </tbody>
</table>
</body>
</html>